body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(38, 55, 100);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 220px;
    font-weight: bold;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 15px;
}

